@charset "UTF-8";
body{
  font-family: Arial, Helvetica, sans-serif;

}
.navbar{
    background-color:rgb(83, 182, 228)  ;
    position: static;
    text-transform: capitalize;

}
.navbar ul{
  
  
  
}
.navbar a:hover{
background-color: rgba(0, 0, 255, 0.559);
color:white;
text-align: center;
border-radius: 5px;

}
.quem-somos{
    
      
}
h3{
  padding-bottom: 30px;
  padding-top: 30px;
}
.margin{
  padding-top: 20px;
}
#Trabalhos{
  margin-top: 30px;
}
#Trabalhos {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:space-between;
  margin-bottom: 20px;
}
.trabalhos{
    border: 1px solid rgba(0, 0, 0, 0.178);
    margin: 10px;
    transition: padding 1s;
    
}
.image{
  max-width:100%;
  background-color: aqua;
  background: url(_imagens/hardware.png)repeat fixed;
  height: 80px;
  
}
.trabalhos:hover{
     padding:20px;

     border-color:rgb(0, 162, 255);
    
     
}
.trabalhos h4{
     padding-top: 20px;
     border-bottom: solid rgba(0, 0, 0, 0.123);
     margin-bottom: 15px;


     
}
ul{
  list-style: none;

}
li{
    text-align: left;
}
#fala{
  width: 300px;
 border:none;
}
.servicos{
  
  border: solid 2px rgba(0, 0, 0, 0.215)  ;
  margin: 10px;
}
footer{

 margin-top: 60px;
  background-color: black;
  color: white;
}
table{
  border-collapse:collapse ;
  margin-bottom: 10px;
}
tr,td{
  border:solid 1px black;
  padding: 10px;
  
}
#tabela{
  display: flex;
  flex-direction: flex;
  margin: auto;


}